<h1>Runs</h1>
<div class="run-form">
  <input type="number" [(ngModel)]="newRun" placeholder="Add distance"/>
  <input type="number" [(ngModel)]="newRunTime"
  placeholder="Add time"/>
  <input type="date" [(ngModel)]="newRunDate" placeholder="Add date"/>
  <button (click)="addRun()">Add run</button>
</div>
<ul>
  <li *ngFor="let run of runs">
    <span>
      <label>Distance: </label>{{ run.distance}}
      <label>Time: </label>{{ run.time}}
      <label>Date: </label>{{ run.date | date:'MM-dd-yyyy': 'UTC' }}
    </span>
    <button (click)="updateRun(run)">Update</button>
    <button (click)="deleteRun(run.id)">Delete</button>
  </li>
</ul>
